.container {
    position: relative;
    max-width: 400px;
}

.pomodoro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
    box-shadow:
    hsl(0 0% 5% / 0.2) 0px 5px 15px,
    hsl(0 0% 5% / 0.1) 0px 1px 2px;
    overflow: hidden;

    min-height: 400px;
}

.header {
    padding: 8px 16px;
}

.subheader {
    padding: 8px 0;
}

.bottomBorder {
    border: 1px solid hsl(205, 0%, 95%);
}

.config {
    padding: 0 16px;
}

.configGroup {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    /* justify-content: center; */
}

.configGroupInline {
    display: flex;
    justify-content: space-between;
}

.configItemInline {
    width: 100px;
}

.labelInline {
    font-size: 0.875rem;
}

.configItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputNumber {
    width: min(100px, 100%);
    padding: 8px;
    /* margin: 0 16px; */
    /* width: 72px; */
    border: none;
    border-radius: 4px;
    background-color: hsl(205, 0%, 95%);
}

.buttonGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    background-color: hsl(205, 0%, 95%);
}

.buttonSpacing {
    padding: 0 16px;
}

.buttonConfig {
    padding: 0;
    font-size: 18px;
    position: absolute;
    top: 60px;
    right: 28px;
    border: none;
    background-color: inherit;
    color: hsl(205, 0%, 55%);
}

.buttonConfig:hover {
    color: hsl(205, 62%, 49%);
}