.container {
  position: relative;
  min-width: 400px;
}

.pomodoro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
  box-shadow: hsl(0 0% 5% / 0.2) 0px 5px 15px, hsl(0 0% 5% / 0.1) 0px 1px 2px;
  overflow: hidden;

  min-height: 400px;
}

.header {
  padding: 8px 16px;
}

.buttonConfig {
  padding: 0;
  font-size: 18px;
  position: relative;
  bottom: 285px;
  left: 160px;
  border: none;
  background-color: inherit;
  color: hsl(205, 0%, 55%);
}

.buttonConfig:hover {
  color: hsl(205, 62%, 49%);
}
